
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



body.theme-cleantype {  
    --main-font-family: 'Roboto Mono', monospace!important;
    --header-background-color: #f0f0f0;
    --button-background-color: #f0f0f0;
    --button-disabled-background-color: #404552;
   --button-text-color: #737373;
  --input-background-color: #f6f6f6;
 --main-text-color: #333333;
    --main-background-color: #f0f0f0;
    --menu-background-color: #eee;
    --more-accented-background-color: #fff;
    --link-color:#2f80d0;
    --link-style:italic;
--main-border-color:#e2e2e2;
    --main-font-size: 0.8rem!important;
   }

.theme-cleantype .collapse-tree-button {
        position: absolute;
        top: 10px;
        right: 40px;
        z-index: 100;
    }
    
 .theme-cleantype   .scroll-to-active-note-button {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 100;
    }
    
.theme-cleantype    .tree-settings-button {
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 100;
    }

.theme-cleantype .btn-sm {
    padding: .1rem .9rem;}

.theme-cleantype .search-result-widget {
   
    margin-top: 30px;
}

.theme-cleantype .ck-content pre {min-width:100%}

.theme-cleantype .gutter.gutter-horizontal{width:8px!important;}

.theme-cleantype .promoted-attribute-cell {
    display: flex;
    align-items: center;
    margin: 00px;
}
.theme-cleantype  .note-book-card {padding:0px 15px 8px 10px}

.theme-cleantype  .note-list-widget .note-list {
    padding: 10px;
    padding-top: 16px;
}
.theme-cleantype .note-list-container
{margin-top:6px;}
 .theme-cleantype.h6, .theme-cleantype h6  {  font-size: 1.00rem!important;}
 .theme-cleantype.h5, .theme-cleantype h5  {  font-size: 1.00rem!important;}
 .theme-cleantype.h4, .theme-cleantype h4  {  font-size: 1.10rem!important;}
 .theme-cleantype.h3, .theme-cleantype h3  {  font-size: 1.20rem!important;}
 .theme-cleantype.h2, .theme-cleantype h2  {  font-size: 1.2rem!important;}
 .theme-cleantype.h1, .theme-cleantype h1  {  font-size: 1.50rem!important;}

 .collection-view-card-attribute b,  .collection-view-card-attribute strong {
    font-weight: normal!important;
    font-size: 100%;
}

.theme-cleantype .form-control {font-size:0.8rem}

.theme-cleantype .note-list-container img {
    width: 100%;
}

.theme-cleantype .ck-content .table table, .theme-cleantype .ck-content .table table td {border:solid 0px!important;}

.theme-cleantype .note-detail-image-wrapper {
   
    margin-top: 20px;
}
.theme-cleantype  .btn.btn-primary {
    border-color: #dbdbdb;
    background-color: #d2d2d200;
    color: #868686;
}


.theme-cleantype .note-icon-container button.note-icon {
 
    font-size: 18px!important;
}


.theme-cleantype a {
    color: #007bff;font-size:90%;
    text-decoration: none;
    font-style: italic;
    background-color: transparent;
}

.theme-cleantype #right-pane {
         background-color: #f0f0f0;
    }


/*
 .theme-cleantype #right-pane {
      background-image: url("https://cdn.shopify.com/s/files/1/0806/5321/products/MORNING-MIST-GRID-WALLPAPER.jpg");;
      
  background-size: 400px 400px;
}
*/


.theme-cleantype #right-pane .card-header {opacity: 0.5;}
.theme-cleantype .scratchpad-widget {opacity: 1;}


.theme-cleantype .note-book-card h5 {}
.theme-cleantype  .grid-view  h5  {
        color:#acacac;
    font-size:0.6em!important;
    font-weight:normal!important;
}

.theme-cleantype #right-pane .widget-title {
    border-radius: 0;
    padding: 0;
    border: 0;
    background: inherit;
    font-weight: normal;
  text-transform: lowercase; 
    color: #000000!important;
        font-size: 85%;
}
.theme-cleantype #right-pane .widget-toggle-button {
    cursor: pointer;
    color: #bababa !important;
}

.theme-cleantype #right-pane .widget-header-action {
    cursor: pointer;
    color: #939393 !important;
    text-decoration: none;
    font-size: large;
    position: relative;
    top: 2px;
}



.theme-cleantype .note-title-container input.note-title {
        font-size: 120%!important;
       
    }

.theme-cleantype button.icon-button {
    font-size: 1.0em!important;
    padding: 0px;
    max-height: 16px!important;
    margin-top: -0px;
   
}

.theme-cleantype .floating-button {
    position: absolute!important;
    z-index: 100;
    top: 0px!important;
}

.theme-cleantype .note-tab-row {background-color: #f0f0f0;}
.theme-cleantype .note-tab {background-color: #f0f0f0;}

.theme-cleantype  .note-tab-row .note-tab[active] .note-tab-wrapper {
    background-color: #f0f0f0;
}

.theme-cleantype .note-tab-row .note-tab .note-tab-wrapper {
    
  background-color: #f0f0f0;
   
}




.theme-cleantype .tab-row-filler .tab-row-border {
    background: linear-gradient(to right, var(--main-border-color), transparent);
    height: 1px;
    margin-top: 32px;
}



.theme-cleantype .ck .ck-placeholder, .theme-cleantype .ck .ck-placeholder {
    position: relative;
   color:black;
    opacity:0.2!important;
}


.theme-cleantype .note-title-container input.note-title {
    font-size: 100%;
   }



.theme-cleantype .note-book-title {
    margin-bottom: 0;
    word-break: normal!important;
}
.theme-cleantype .note-book-title .note-icon {  padding-left: 0px;
   
}

.theme-cleantype .note-list.grid-view .note-book-card{
    flex-basis: 180px;
    max-height:300px;
  max-width:200px;
    border: 1px solid #9e9d9d40;
    background-color: #fcfcfc;
      border-radius: 12px !important;
padding:10px;
 margin: 8px;
}

.theme-cleantype .note-list.grid-view .note-book-card:hover{
  border:0px solid;  
}

.theme-cleantype .ck-content img {}
.theme-cleantype .note-book-content.type-image, .note-book-content.type-file, .note-book-content.type-protected-session {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
        padding-top: 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8rem;
    font-weight: 500;
    line-height: 1.52;
}
.theme-cleantype  .rendered-note-content {
       padding:10px 10px 10px 10px;
}

.theme-cleantype .note-book-title .rendered-note-attributes {
        font-size: xx-small;
    color: #4189f3;
}

.theme-cleantype .ui-fancytree {
  background-color: #f0f0f0!important;
  border: 0 !important;
  border-radius: 4px !important;

}

.theme-cleantype ul.fancytree-container {
 color: #333333;
  margin-left: 0px;
  margin-right: 0px;
    
}

.theme-cleantype .tree-wrapper {
     background-color: #f0f0f0!important;
  margin-left: 0px;
  margin-right: 0px;
}

.theme-cleantype .note-detail{  padding-left: 10px;
  padding-right: 20px;margin-bottom: -30px;}


.theme-cleantype  .section-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
 
}

.theme-cleantype .section-container {
    margin-bottom: 0px;
    font-size: 12px;
    font-style: italic !important;
    text-transform: lowercase;
}
